In [0]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
movies = 'https://raw.githubusercontent.com/GabrielTrentino/Projetos-de-Cursos/master/02-MachineLearning/06_movies.csv'

filmes = pd.read_csv(movies)
filmes.columns = ["filmeId", "titulo", "generos"]
filmes = filmes.set_index("filmeId")
filmes.head()

                                     titulo                                      generos
filmeId
1                          Toy Story (1995)  Adventure|Animation|Children|Comedy|Fantasy
2                            Jumanji (1995)                   Adventure|Children|Fantasy
3                   Grumpier Old Men (1995)                               Comedy|Romance
4                  Waiting to Exhale (1995)                         Comedy|Drama|Romance
5        Father of the Bride Part II (1995)                                       Comedy

In [3]:
ratings = 'https://raw.githubusercontent.com/GabrielTrentino/Projetos-de-Cursos/master/02-MachineLearning/06_ratings.csv'

notas = pd.read_csv(ratings)
notas.columns = ["usuarioId", "filmeId", "nota", "momento"]
notas.head()

   usuarioId  filmeId  nota    momento
0          1        1   4.0  964982703
1          1        3   4.0  964981247
2          1        6   4.0  964982224
3          1       47   5.0  964983815
4          1       50   5.0  964982931

In [4]:
notas.describe().round(2)

       usuarioId    filmeId       nota       momento
count  100836.00  100836.00  100836.00  1.008360e+05
mean      326.13   19435.30       3.50  1.205946e+09
std       182.62   35530.99       1.04  2.162610e+08
min         1.00       1.00       0.50  8.281246e+08
25%       177.00    1199.00       3.00  1.019124e+09
50%       325.00    2991.00       3.50  1.186087e+09
75%       477.00    8122.00       4.00  1.435994e+09
max       610.00  193609.00       5.00  1.537799e+09

#Primeira Tentativa: Heurística

In [5]:
total_de_votos = notas["filmeId"].value_counts()
total_de_votos.head()

356     329
318     317
296     307
593     279
2571    278
Name: filmeId, dtype: int64

In [6]:
filmes['total_de_votos'] = total_de_votos
filmes.head()

                                     titulo  ... total_de_votos
filmeId                                      ...
1                          Toy Story (1995)  ...          215.0
2                            Jumanji (1995)  ...          110.0
3                   Grumpier Old Men (1995)  ...           52.0
4                  Waiting to Exhale (1995)  ...            7.0
5        Father of the Bride Part II (1995)  ...           49.0

[5 rows x 3 columns]

In [7]:
filmes.sort_values("total_de_votos", ascending = False).head(10)

                                            titulo  ... total_de_votos
filmeId                                             ...
356                            Forrest Gump (1994)  ...          329.0
318               Shawshank Redemption, The (1994)  ...          317.0
296                            Pulp Fiction (1994)  ...          307.0
593               Silence of the Lambs, The (1991)  ...          279.0
2571                            Matrix, The (1999)  ...          278.0
260      Star Wars: Episode IV - A New Hope (1977)  ...          251.0
480                           Jurassic Park (1993)  ...          238.0
110                              Braveheart (1995)  ...          237.0
589              Terminator 2: Judgment Day (1991)  ...          224.0
527                        Schindler's List (1993)  ...          220.0

[10 rows x 3 columns]

In [8]:
notas_medias = notas.groupby("filmeId").mean()["nota"]
notas_medias.head()

filmeId
1    3.920930
2    3.431818
3    3.259615
4    2.357143
5    3.071429
Name: nota, dtype: float64

In [9]:
filmes["nota_media"] = notas_medias
filmes.sort_values("total_de_votos", ascending = False).head(10)

                                            titulo  ... nota_media
filmeId                                             ...
356                            Forrest Gump (1994)  ...   4.164134
318               Shawshank Redemption, The (1994)  ...   4.429022
296                            Pulp Fiction (1994)  ...   4.197068
593               Silence of the Lambs, The (1991)  ...   4.161290
2571                            Matrix, The (1999)  ...   4.192446
260      Star Wars: Episode IV - A New Hope (1977)  ...   4.231076
480                           Jurassic Park (1993)  ...   3.750000
110                              Braveheart (1995)  ...   4.031646
589              Terminator 2: Judgment Day (1991)  ...   3.970982
527                        Schindler's List (1993)  ...   4.225000

[10 rows x 4 columns]

#Segunda Tentativa: Nota média e filtrando votos

In [10]:
filmes.sort_values("nota_media", ascending = False).head(10)

                                            titulo  ... nota_media
filmeId                                             ...
88448        Paper Birds (Pájaros de papel) (2010)  ...        5.0
100556                  Act of Killing, The (2012)  ...        5.0
143031                             Jump In! (2007)  ...        5.0
143511                                Human (2015)  ...        5.0
143559                         L.A. Slasher (2015)  ...        5.0
6201                              Lady Jane (1986)  ...        5.0
102217              Bill Hicks: Revelations (1993)  ...        5.0
102084                Justice League: Doom (2012)   ...        5.0
6192     Open Hearts (Elsker dig for evigt) (2002)  ...        5.0
145994                      Formula of Love (1984)  ...        5.0

[10 rows x 4 columns]

In [11]:
filmes.query("total_de_votos >= 10").sort_values("nota_media", ascending = False).head(10)

                                        titulo  ... nota_media
filmeId                                         ...
1041                     Secrets & Lies (1996)  ...   4.590909
3451       Guess Who's Coming to Dinner (1967)  ...   4.545455
1178                     Paths of Glory (1957)  ...   4.541667
1104          Streetcar Named Desire, A (1951)  ...   4.475000
2360          Celebration, The (Festen) (1998)  ...   4.458333
1217                                Ran (1985)  ...   4.433333
318           Shawshank Redemption, The (1994)  ...   4.429022
951                     His Girl Friday (1940)  ...   4.392857
1927     All Quiet on the Western Front (1930)  ...   4.350000
3468                       Hustler, The (1961)  ...   4.333333

[10 rows x 4 columns]

In [12]:
filmes_com_mais_de_50_votos = filmes.query("total_de_votos >= 50")
filmes_com_mais_de_50_votos.sort_values("nota_media", ascending = False).head(10)

                                                    titulo  ... nota_media
filmeId                                                     ...
318                       Shawshank Redemption, The (1994)  ...   4.429022
858                                  Godfather, The (1972)  ...   4.289062
2959                                     Fight Club (1999)  ...   4.272936
1276                                 Cool Hand Luke (1967)  ...   4.271930
750      Dr. Strangelove or: How I Learned to Stop Worr...  ...   4.268041
904                                     Rear Window (1954)  ...   4.261905
1221                        Godfather: Part II, The (1974)  ...   4.259690
48516                                 Departed, The (2006)  ...   4.252336
1213                                     Goodfellas (1990)  ...   4.250000
912                                      Casablanca (1942)  ...   4.240000

[10 rows x 4 columns]

In [13]:
eu_assisti = [1, 21, 19, 10, 11, 7, 2]
filmes.loc[eu_assisti]

                                        titulo  ... nota_media
filmeId                                         ...
1                             Toy Story (1995)  ...   3.920930
21                           Get Shorty (1995)  ...   3.494382
19       Ace Ventura: When Nature Calls (1995)  ...   2.727273
10                            GoldenEye (1995)  ...   3.496212
11              American President, The (1995)  ...   3.671429
7                               Sabrina (1995)  ...   3.185185
2                               Jumanji (1995)  ...   3.431818

[7 rows x 4 columns]

In [14]:
aventura_infantil_e_fantasia = filmes_com_mais_de_50_votos.query("generos=='Adventure|Children|Fantasy'")
aventura_infantil_e_fantasia.drop(eu_assisti, errors='ignore').sort_values("nota_media", ascending = False).head(10)

                                                    titulo  ... nota_media
filmeId                                                     ...
4896     Harry Potter and the Sorcerer's Stone (a.k.a. ...  ...   3.761682
41566    Chronicles of Narnia: The Lion, the Witch and ...  ...   3.443548

[2 rows x 4 columns]

#Procurando Usuários Similares

In [0]:
def distancia_de_vetores(a,b):
  return np.linalg.norm(a - b)

In [0]:
def notas_do_usuario(usuario):
  notas_do_usuario = notas.query("usuarioId==%d" % usuario)
  notas_do_usuario = notas_do_usuario[["filmeId", "nota"]].set_index("filmeId")
  return notas_do_usuario

In [17]:
usuario1 = notas_do_usuario(1)
usuario4 = notas_do_usuario(4)

usuario1.head()

         nota
filmeId
1         4.0
3         4.0
6         4.0
47        5.0
50        5.0

In [18]:
diferencas = usuario1.join(usuario4, lsuffix="_esquerda", rsuffix="_direita").dropna()
distancia_de_vetores(diferencas['nota_esquerda'], diferencas['nota_direita'])

11.135528725660043

In [0]:
def distancia_de_usuarios(usuario_id1, usuario_id2):
  notas1 = notas_do_usuario(usuario_id1)
  notas2 = notas_do_usuario(usuario_id2)
  diferencas = notas1.join(notas2, lsuffix="_esquerda", rsuffix="_direita").dropna()
  distancia =  distancia_de_vetores(diferencas['nota_esquerda'], diferencas['nota_direita'])
  return [usuario_id1, usuario_id2, distancia]

In [20]:
distancia_de_usuarios(1,4)

[1, 4, 11.135528725660043]

In [21]:
def distancia_de_todos(voce_id):
  distancias = []
  for usuario_id in notas['usuarioId'].unique():
    informacoes = distancia_de_usuarios(voce_id, usuario_id)
    distancias.append(informacoes)
  return distancias

distancia_de_todos(1)[:5]

[[1, 1, 0.0],
 [1, 2, 1.4142135623730951],
 [1, 3, 8.200609733428363],
 [1, 4, 11.135528725660043],
 [1, 5, 3.7416573867739413]]

In [22]:
def distancia_de_todos(voce_id):
  todos_os_usuarios = notas['usuarioId'].unique()
  distancias = [distancia_de_usuarios(voce_id, usuario_id) for usuario_id in todos_os_usuarios]
  distancias = pd.DataFrame(distancias, columns = ["voce", "outra_pessoa", "distancia"])
  return distancias

distancia_de_todos(1).head()

   voce  outra_pessoa  distancia
0     1             1   0.000000
1     1             2   1.414214
2     1             3   8.200610
3     1             4  11.135529
4     1             5   3.741657

#Usuários sem filmes em comum são colocados bem distante um do outro

In [0]:
def distancia_de_usuarios(usuario_id1, usuario_id2, minimo = 5):
  notas1 = notas_do_usuario(usuario_id1)
  notas2 = notas_do_usuario(usuario_id2)
  diferencas = notas1.join(notas2, lsuffix="_esquerda", rsuffix="_direita").dropna()
  
  if(len(diferencas) < minimo):
    return [usuario_id1, usuario_id2, 100000]
  
  distancia =  distancia_de_vetores(diferencas['nota_esquerda'], diferencas['nota_direita'])
  return [usuario_id1, usuario_id2, distancia]

In [0]:
def mais_proximos_de(voce_id):
  distancias = distancia_de_todos(voce_id)
  distancias = distancias.sort_values("distancia")
  distancias = distancias.set_index("outra_pessoa").drop(voce_id)
  return distancias

#Parametros para Teste

In [0]:
def mais_proximos_de(voce_id, n = None):
  distancias = distancia_de_todos(voce_id, n = n)
  distancias = distancias.sort_values("distancia")
  distancias = distancias.set_index("outra_pessoa").drop(voce_id)
  return distancias

In [0]:
def distancia_de_todos(voce_id, n = None):
  todos_os_usuarios = notas['usuarioId'].unique()
  if n:
    todos_os_usuarios = todos_os_usuarios[:n]
  distancias = [distancia_de_usuarios(voce_id, usuario_id) for usuario_id in todos_os_usuarios]
  distancias = pd.DataFrame(distancias, columns = ["voce", "outra_pessoa", "distancia"])
  return distancias

In [0]:
def distancia_de_usuarios(usuario_id1, usuario_id2, minimo = 5):
  notas1 = notas_do_usuario(usuario_id1)
  notas2 = notas_do_usuario(usuario_id2)
  diferencas = notas1.join(notas2, lsuffix="_esquerda", rsuffix="_direita").dropna()
  
  if(len(diferencas) < minimo):
    return None
  
  distancia =  distancia_de_vetores(diferencas['nota_esquerda'], diferencas['nota_direita'])
  return [usuario_id1, usuario_id2, distancia]

In [0]:
def distancia_de_todos(voce_id, numero_de_usuarios_a_analisar = None):
  todos_os_usuarios = notas['usuarioId'].unique()
  if numero_de_usuarios_a_analisar:
    todos_os_usuarios = todos_os_usuarios[:numero_de_usuarios_a_analisar]
  distancias = [distancia_de_usuarios(voce_id, usuario_id) for usuario_id in todos_os_usuarios]
  distancias = list(filter(None, distancias))
  distancias = pd.DataFrame(distancias, columns = ["voce", "outra_pessoa", "distancia"])
  return distancias

In [0]:
def mais_proximos_de(voce_id, numero_de_usuarios_a_analisar = None):
  distancias = distancia_de_todos(voce_id, numero_de_usuarios_a_analisar = numero_de_usuarios_a_analisar)
  distancias = distancias.sort_values("distancia")
  distancias = distancias.set_index("outra_pessoa").drop(voce_id)
  return distancias

In [30]:
mais_proximos_de(1, numero_de_usuarios_a_analisar = 50)

              voce  distancia
outra_pessoa
49               1   1.000000
9                1   1.000000
25               1   1.414214
13               1   1.414214
30               1   1.802776
35               1   2.236068
26               1   2.236068
46               1   3.316625
8                1   3.741657
5                1   3.741657
44               1   3.741657
37               1   4.000000
48               1   4.123106
11               1   4.242641
24               1   4.415880
29               1   4.555217
31               1   4.582576
17               1   4.609772
43               1   4.795832
14               1   5.000000
32               1   5.196152
22               1   5.244044
23               1   5.408327
38               1   5.567764
15               1   5.852350
33               1   5.916080
47               1   6.244998
34               1   6.363961
20               1   6.480741
36               1   6.519202
40               1   6.855655
7                1   7.106335
16               1   7.228416
50               1   7.331439
10               1   7.858117
3                1   8.200610
18               1   8.426150
6                1   8.602325
21               1   9.096703
27               1   9.219544
41               1  10.198039
45               1  10.653638
39               1  11.090537
4                1  11.135529
42               1  12.000000
28               1  14.882876
19               1  17.606817

In [0]:
def sugere_para(voce, numero_de_usuarios_a_analisar = None):
  notas_de_voce = notas_do_usuario(voce)
  filmes_que_voce_ja_viu = notas_de_voce.index

  similares = mais_proximos_de(voce, numero_de_usuarios_a_analisar = numero_de_usuarios_a_analisar)
  similar = similares.iloc[0].name
  notas_do_similar = notas_do_usuario(similar)
  notas_do_similar = notas_do_similar.drop(filmes_que_voce_ja_viu, errors='ignore')
  recomendacoes = notas_do_similar.sort_values("nota", ascending=False)
  return recomendacoes.join(filmes)

In [32]:
sugere_para(1, numero_de_usuarios_a_analisar=50).head()

         nota                            titulo  ... total_de_votos  nota_media
filmeId                                          ...
1200      4.5                     Aliens (1986)  ...          126.0    3.964286
4022      4.5                  Cast Away (2000)  ...          100.0    3.700000
47099     4.5  Pursuit of Happyness, The (2006)  ...           46.0    3.793478
79132     4.5                  Inception (2010)  ...          143.0    4.066434
109487    4.5               Interstellar (2014)  ...           73.0    3.993151

[5 rows x 5 columns]

#Sugerindo Baseado em Vários Usuários

In [0]:
def mais_proximos_de(voce_id, n_mais_proximos=10, numero_de_usuarios_a_analisar = None):
  distancias = distancia_de_todos(voce_id, numero_de_usuarios_a_analisar = numero_de_usuarios_a_analisar)
  distancias = distancias.sort_values("distancia")
  distancias = distancias.set_index("outra_pessoa").drop(voce_id)
  return distancias.head(n_mais_proximos)

In [34]:
mais_proximos_de(1, n_mais_proximos = 2, numero_de_usuarios_a_analisar=300)

              voce  distancia
outra_pessoa
77               1        0.0
258              1        1.0

In [0]:
def sugere_para(voce, n_mais_proximos = 10, numero_de_usuarios_a_analisar = None):
  notas_de_voce = notas_do_usuario(voce)
  filmes_que_voce_ja_viu = notas_de_voce.index

  similares = mais_proximos_de(voce, n_mais_proximos = n_mais_proximos, numero_de_usuarios_a_analisar = numero_de_usuarios_a_analisar)
  usuarios_similares = similares.index
  notas_dos_similares = notas.set_index("usuarioId").loc[usuarios_similares]
  recomendacoes = notas_dos_similares.groupby("filmeId").mean()[["nota"]]
  recomendacoes = recomendacoes.sort_values("nota", ascending=False)
  return recomendacoes.join(filmes)

In [36]:
sugere_para(1, numero_de_usuarios_a_analisar = 50).head()

         nota  ... nota_media
filmeId        ...
187593    5.0  ...   3.875000
68157     5.0  ...   4.136364
475       5.0  ...   4.300000
33794     5.0  ...   3.862069
7153      5.0  ...   4.118919

[5 rows x 5 columns]

In [37]:
sugere_para(1, numero_de_usuarios_a_analisar = 300).head()

         nota  ... nota_media
filmeId        ...
187593    5.0  ...   3.875000
802       5.0  ...   3.336957
534       5.0  ...   3.607143
1172      5.0  ...   4.161765
515       5.0  ...   3.604167

[5 rows x 5 columns]

In [38]:
sugere_para(1).head()

         nota  ... nota_media
filmeId        ...
1704      5.0  ...   4.078014
57504     5.0  ...   4.100000
38304     5.0  ...   4.625000
48394     5.0  ...   3.814815
2300      5.0  ...   3.969697

[5 rows x 5 columns]

In [0]:
def knn(voce_id, k_mais_proximos=10, numero_de_usuarios_a_analisar = None):
  distancias = distancia_de_todos(voce_id, numero_de_usuarios_a_analisar = numero_de_usuarios_a_analisar)
  distancias = distancias.sort_values("distancia")
  distancias = distancias.set_index("outra_pessoa").drop(voce_id)
  return distancias.head(k_mais_proximos)

In [0]:
def sugere_para(voce, k_mais_proximos = 10, numero_de_usuarios_a_analisar = None):
  notas_de_voce = notas_do_usuario(voce)
  filmes_que_voce_ja_viu = notas_de_voce.index

  similares = knn(voce, k_mais_proximos = k_mais_proximos, numero_de_usuarios_a_analisar = numero_de_usuarios_a_analisar)
  usuarios_similares = similares.index
  notas_dos_similares = notas.set_index("usuarioId").loc[usuarios_similares]
  recomendacoes = notas_dos_similares.groupby("filmeId").mean()[["nota"]]
  recomendacoes = recomendacoes.sort_values("nota", ascending=False)
  return recomendacoes.join(filmes)